/* LAYOUT */
.container {
    display: grid;
    max-width: 100%;
    height: 100%;
    grid-template-areas:
        "nav"
        "header"
        "contact"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: minmax(45px, auto) 650px repeat(6, auto);
}

.topnav {
    grid-area: nav;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header {
    grid-area: header;
    background: url(../img/header_geo.jpg) no-repeat center bottom;
    background-size: auto;
}

#contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}


footer {
    grid-area: footer;
}


header .flex-row>div {
    border-radius: 10px;
    max-width: 60rem;
    padding: 50px;
    background-color: rgba(114, 90, 255, 0.6);
}



/* SECTIONS */
section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section div {
    min-width: 20rem;
    max-width: 40rem;

}

section:nth-child(odd) {
    flex-direction: row-reverse;
}

.contact-info {
    padding-bottom: 5rem;
}

/* Contact form */
address * {
    margin-bottom: 0.8rem;
}

address a {
    color: var(--cream);
    text-decoration: underline;
}

address a:hover {
    text-decoration: none;
}

address a:active {
    color: var(--darkteal)
}

.contactmessage {
    width: 100%;
}

div .contact-container {
    background-color: rgb(214, 241, 241);
    padding: 2rem;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-flex>div {

    min-width: 15rem;
}

.contact label {
    display: block;
    text-align: left;
    margin-bottom: 0.6rem;
    font-weight: 700;
}

.contact input {
    height: 2.5rem;
}

.contact input,
.contact textarea {
    width: 100%;
}


.contact input,
textarea {
    padding: 0.8rem;
    margin-bottom: 2rem;

    border: 1px solid rgb(214, 241, 241);
}

.contact input:hover,
.contact textarea:hover,
.contact input:focus,
.contact textarea:focus {
    border: 1px solid var(--blue);

}


.contact textarea {
    resize: none;
}

.contact input::placeholder,
textarea::placeholder {
    font-weight: 400;
}


/***************** FORMS *****************/

::placeholder,
button,
input[type=text] {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 700;

}

@media only screen and (max-width: 1690px) {
    .container {
        grid-template-columns: 100%;
    }

    section img {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1280px) {

    header {
        padding: 0;
    }

    header .flex-row {
        margin: 0;
        padding: 0;
    }

}

@media only screen and (max-width: 980px) {
    section div {
        max-width: 100%;
    }

    section img {
        max-width: 40%;
    }
}

@media only screen and (max-width: 736px) {

    section:nth-child(odd) {
        flex-direction: column-reverse;
    }

    section {
        flex-direction: column-reverse;
    }

    section img {
        width: 100%;
        max-width: 100%;
        margin: 2rem 0;
    }
}

@media only screen and (max-width: 480px) {
    section div {
        min-width: 10%;
    }
}

@media only screen and (min-width: 1390px) {
    section {
        padding-left: 15%;
        padding-right: 15%;
    }
}